# .coveragerc to control coverage.py
[run]
branch = True
omit = 
    mandala/util/logging_ut.py
    mandala/tests/*.py
    mandala/util/data_ut.py
    mandala/util/ray_ut.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod
