# python
*.pyc

# logs
*.log

# pictures and other visualization-related
*.jpg
*.JPG
*.png
*.tif
*.gif
*.svg
*.dot
*.gv
# *.mp4

# docs
*.pdf
*.djvu
*.ps

# vim
*.swp
*.swo
*.swn

# archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

# web
*.html
# *.css

################################################################################
### path-based
################################################################################
# eggs
mandala_lite.egg-info/*

mandala_lite/demos/data/
scratchpad/

# visualizations
# Ignore files cached by Hypothesis
**/.hypothesis/*
# Ignore files cached by vscode
**/.vscode/*
# ignore files cached by pytest
**/.pytest_cache/*
# ignore files cached by jupyter
**/.ipynb_checkpoints
# ignore coverage things
.coverage
**/htmlcov/*
# ignore persistent storages
temp_dbs/*
mandala_lite/tests/output/*

## PyCharm stuff
.idea/**